@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #1b1d1b;
    --text-light: rgba(28, 28, 28, 0.3);
    --background: #ffffff;
    --background-light: rgba(255, 255, 255, 0.3);
    --primary: #8fd322;
    --secondary: #157f4d;
    --accent: #1cab98;
  }
  .dark {
    --text: #ebe9fc;
    --background: #010104;
    --primary: #3a31d8;
    --secondary: #020024;
    --accent: #0600c2;
  }
}
